body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  user-select: none;
  overflow: auto;
  background: radial-gradient(rgb(223, 136, 235), rgba(80, 0, 73, 0.884));
}
