body, .cont, .vs, .FvsO, .block-ti, .block-tex, .a1, .a2, .a4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Apple Chancery", cursive;
}

.cont{
  padding: 1em .5em;
}

.cont *{
  margin: 0 1em;
}

.block-q{
  font-size: 1.2em;
  align-self: flex-start;
}

.block-q *{
  margin: .5em 0;
}

.t{
  margin: 1em 0;
  font-size: 1.5em;
  font-weight: 900;
}

.q-1, .a1{
  background: #81d9ea94;
}

.q-2, .a2{
  background: #9da7e68c;
}

.q-3, .a3{
  background: #b580e391;
}

.q-4, .a4{
  background: #d24dde94;
}

.q-1, .q-2, .q-3, .q-4{
  padding: .1em .5em;
  border-radius: .3em;
}

.a1, .a2, .a3, .a4{
  margin: .2em 0;
  /* margin: 0; */
  padding: .5em 1em;
  font-size: 1.2em;
  border-radius: 1em;
}

.square{
  width: 95%;
  margin: .5em;
}

.a2_p{
  width: 67%;
  margin: .5em;
}

.vs{
  width: 100%;
  margin: 0 0 .5em 0;
  flex-direction: row;
}

.vs> *> ul> h3{
  text-align: center;
}

.vs> *> ul> li{
  list-style-type: none;
  margin-bottom: .3em;
}

.vs *{
  margin: 0;
}

.block-ti{
  font-weight: 700;
  margin: .5em 0;
}

.block-ti, .block-tex{
  width: 100%;
  font-size: 1.2em;
  flex-direction: row;
  justify-content: space-around;
}

.block-tex{
  font-size: 1em;
  margin: 0;
}

.block-tex *{
  margin: 0;
  width: 45%;
  align-self: flex-start;
  margin-bottom: .5em;
}

.a4 *{
  width: 50%;
  margin: 1em 0;
}

